* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #2dd4bf;
    text-align: center;
}

.container {
    margin-top: 2rem;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

h1 {
    color: white;
    font-size: 2rem;
}

.game {
    height: 70vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    height: 20vmin;
    width: 20vmin;
    border: 1.5px solid rgb(33, 54, 44);
    font-size: 10vmin;
    color: black;
    background-color: transparent;
    transition: background-color 0.1s ease-in;
}

.box:hover {
    background-color: rgb(149, 250, 240);
}

#reset-btn,
#new-game {
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #134e4a;
    color: #fff;
    border-radius: 1rem;
    border: none;
    outline: none;
    margin-top: 4.5rem;
}

#new-game {
    margin-top: 1rem;
}

#msg {
    color: #ffffff;
    font-size: 2rem;
}

.msg-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}

/* Utility classes */
.bl-0 {
    border-left: 0;
}

.br-0 {
    border-right: 0;
}

.bb-0 {
    border-bottom: 0;
}

.bt-0 {
    border-top: 0;
}

@media (max-width: 768px) {
    .container {
        gap: 1.5rem;
    }

    .game {
        width: 80vmin;
    }

    .box {
        height: 20vmin;
        width: 21vmin;
        font-size: 10vmin;
    }

    #msg {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .container {
        gap: 1rem;
    }

    .game {
        width: 90vmin;
    }

    .box {
        height: 24vmin;
        width: 23vmin;
        font-size: 10vmin;
    }

    #msg {
        font-size: 1.5rem;
    }

    #reset-btn,
    #new-game {
        font-size: 1.3rem;
        padding: .9rem;
    }
}